#ipython_notebook img{
    display:block;
    /* logo url here */
    background: url("logo.png") no-repeat;
    background-size: contain;
    width: 233px;
    height: 33px;
    padding-left: 233px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Make the notebook cells take almost all available width */
.container {
    width: 99% !important;
}   

/* Prevent the edit cell highlight box from getting clipped;
 * important so that it also works when cell is in edit mode*/
div.cell.selected {
    border-left-width: 1px !important;
}

/* aian app layout style.. */
.app-header{
    display:inline-block;
    height: 50px;
    vertical-align:bottom;
    text-align:bottom;
    background-color: black;
    align-items: flex-end;
}
.app-left{
    width:auto;
    background-color:gray;
    text-align:right;
    text-color:white;
    color: #ffffff;
}
.app-center{
    background-color: lightgray;
}
.app-right{
    height: 800px;
    background-color: lightyellow;
    resize: horizontal;
    overflow: auto;
}
.form-common{
    height: 40px;
    background-color: darkgray;
}
.form-alert{
    background-color: red;
}
